# Meta Database Engineer Capstone

## 1st Exercise
### Task 1

In [9]:
!python --version

Python 3.14.2

### Task 2

##### Following commands ran to configure and create this jupyter notebook
- python -m pip install jupyter
- jupyter notebook

### Task 3
#### Step 1

In [10]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in e:\program files\python314\lib\site-packages (9.5.0)

[notice] A new release of pip is available: 25.3 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

#### Step 2

In [11]:
import mysql.connector as connector

#### Step 3

In [12]:
connection = connector.connect(user = "roel", password = "")

In [13]:
connection.is_connected()

True

## 2nd Exercise
### Task 1

In [14]:
connection = connector.connect(user = "roel", password = "", db = "little_lemon")

### Task 2

In [15]:
with connection.cursor() as cursor:
    show_tables_query = "SHOW tables" 
    cursor.execute(show_tables_query)
    results = cursor.fetchall()
    print(results)

[('addresses',), ('bookings',), ('cities',), ('countries',), ('courses',), ('cuisines',), ('customers',), ('deliveries',), ('desserts',), ('menus',), ('orders',), ('ordersview',), ('postalcodes',), ('sides',), ('starters',)]

### Task 3

In [16]:
query_stmt = """
    SELECT customers.FullName, customers.ContactNumber, orders.TotalCost
    FROM customers
    LEFT JOIN orders ON orders.CustomerID = customers.CustomerID
    WHERE orders.TotalCost > 60;
"""
with connection.cursor() as cursor:
    cursor.execute(query_stmt)
    results = cursor.fetchall()
    print(results)

[('Customer A', 'A12345678', Decimal('600.00')), ('Customer A', 'A12345678', Decimal('100.00'))]